blinkColor = #1EC864 // rgb(226, 25, 45);
._1nuage2mots {
  width: 80%;
  text-align: center;
  margin: auto;
  color: red;

  > * {
    transition: opacity 5s ease-out, color .12s ease, transform 2s ease;
    display: inline-block;
    line-height: 1.2em;
    vertical-align: middle;
    padding: 0 0.2em;
    text-decoration: none;
    /*cursor: pointer;*/
    user-select: none;
  }
  > a:hover{
    color: var(--hover-color) !important;
  }

  > a:active {
    transform: translateY(4px);
  }
  &.instantChange {
    transition: none !important;
    * {
      transition: none !important;
    }
  }
  .hide{
    opacity:0 !important;
  }
  .flashScale {
    transform:scale(1.1) !important;
    opacity:1 !important;
  }
  .flashGlow {
    opacity:1 !important;
    animation: blink 2s ease-out;
  }
}

@keyframes blink {
  0% {
    text-shadow: 0 0 20px alpha(blinkColor, 0);
  }
  20% {
    text-shadow: -5px -5px 20px alpha(blinkColor, .8), 5px -5px 20px alpha(blinkColor, .8), 5px 5px 20px alpha(blinkColor, .8), -5px 5px 20px alpha(blinkColor, .8);
  }
  30% {
    text-shadow: -5px -5px 20px alpha(blinkColor, .8), 5px -5px 20px alpha(blinkColor, .8), 5px 5px 20px alpha(blinkColor, .8), -5px 5px 20px alpha(blinkColor, .8);
  }
  100% {
    text-shadow: 0 0 20px alpha(blinkColor, 0);
  }
}
