<h2 style="text-align:center;"> first example </h2>

<div class="_1nuage2mots" tag-size-min=".5" tag-size-max="2" tag-size-unit="vw" tag-opacity-pow=".5" tag-opacity-min=".1" tag-opacity-max=".9" tag-chaos="30" tag-show="by value group" tag-show-start="every time in screen" tag-show-interval="5s" tag-flash="glow" tag-flash-interval="7">
    <div style="color:var(--brown);" tag-value="5">Anxiété</div>
    <a href="#" style="color:#46321E" tag-value="5">Attachement</a>
    <div class="brown" tag-value="4">Stress</div>
    <div style="color:#46321E" tag-value="3">Dépression</div>
    <div style="color:var(--brown)" tag-value="3">Trauma</div>
    <div style="color:var(--brown)" tag-value="2">Burn-out</div>
    <div style="color:var(--brown)" tag-value="2">Angoisses</div>
    <div style="color:var(--brown)" tag-value="1">Sommeil</div>
    <div class="gris" tag-value="5">Difficultés relationnelles</div>
    <div class="gris" tag-value="4">Gestion des émotions</div>
    <div class="gris" tag-value="3">Insécurités affectives</div>
    <div class="gris" tag-value="2">Difficultés d'adaptation</div>
    <div class="teal" tag-value="5">Affirmation de soi</div>
    <div class="teal" tag-value="5">Oser être soi</div>
    <div class="teal" tag-value="4">Estime de soi</div>
    <div class="teal" tag-value="2">Confiance en soi</div>
    <div class="teal" tag-value="1">Image de soi</div>
    <div class="turquoise" tag-value="5">Mieux communiquer</div>
    <div class="turquoise" tag-value="4">Mieux se comprendre</div>
    <div class="turquoise" tag-value="4">S'épanouir dans ses relations</div>
    <div class="turquoise" tag-value="3">Connaître ses mécanismes</div>
    <div class="turquoise" tag-value="2">Identifier ses besoins</div>
    <div class="turquoise" tag-value="2">Faire face à un changement</div>
    <div class="turquoise" tag-value="1">Traverser un deuil</div>
</div>

<h2 style="text-align:center;"><a href="https://codepen.io/dawiidio/pen/BPYjZV">Thanks to Dawid for inspiration</a></h2>

<h2 style="text-align:center;"> second example </h2>

<div class="_1nuage2mots emRef" tag-flash="scale" tag-size-unit="em">
    <div class="brown" tag-value="5">Anxiété</div>
    <div class="brown" tag-value="4">Stress</div>
    <div class="brown" tag-value="3">Dépression</div>
    <div class="brown" tag-value="2">Angoisses</div>
    <div class="brown" tag-value="1">Sommeil</div>
    <div class="gris" tag-value="5">Difficultés relationnelles</div>
    <div class="gris" tag-value="4">Gestion des émotions</div>
    <div class="gris" tag-value="3">Insécurités affectives</div>
    <div class="gris" tag-value="2">Difficultés d'adaptation</div>
    <div class="teal" tag-value="5">Affirmation de soi</div>
    <div class="teal" tag-value="4">Estime de soi</div>
    <div class="teal" tag-value="2">Confiance en soi</div>
    <div class="teal" tag-value="1">Image de soi</div>
    <div class="turquoise" tag-value="5">Mieux communiquer</div>
    <div class="turquoise" tag-value="4">Mieux se comprendre</div>
    <div class="turquoise" tag-value="4">S'épanouir dans ses relations</div>
    <div class="turquoise" tag-value="3">Connaître ses mécanismes</div>
    <div class="turquoise" tag-value="2">Identifier ses besoins</div>
    <div class="turquoise" tag-value="2">Faire face à un changement</div>
    <div class="turquoise" tag-value="1">Traverser un deuil</div>
</div>

<h1 style="width: 95vw; height: 100vh;background:orange;padding:100px 20px; text-align:center;">scroll for next</h1>

<h2 style="text-align:center;"> Last example </h2>

<div class="_1nuage2mots" tag-show="by group" tag-show-start="every time in screen" tag-show-interval="3">
    <div class="brown" tag-value="5">Anxiété</div>
    <div class="brown" tag-value="4">Stress</div>
    <div class="brown" tag-value="3">Dépression</div>
    <div class="brown" tag-value="2">Angoisses</div>
    <div class="brown" tag-value="1">Sommeil</div>
    <div class="gris" tag-value="5">Difficultés relationnelles</div>
    <div class="gris" tag-value="4">Gestion des émotions</div>
    <div class="gris" tag-value="3">Insécurités affectives</div>
    <div class="gris" tag-value="2">Difficultés d'adaptation</div>
    <div class="teal" tag-value="5">Affirmation de soi</div>
    <div class="teal" tag-value="4">Estime de soi</div>
    <div class="teal" tag-value="2">Confiance en soi</div>
    <div class="teal" tag-value="1">Image de soi</div>
    <div class="turquoise" tag-value="5">Mieux communiquer</div>
    <div class="turquoise" tag-value="4">Mieux se comprendre</div>
    <div class="turquoise" tag-value="4">S'épanouir dans ses relations</div>
    <div class="turquoise" tag-value="3">Connaître ses mécanismes</div>
    <div class="turquoise" tag-value="2">Identifier ses besoins</div>
    <div class="turquoise" tag-value="2">Faire face à un changement</div>
    <div class="turquoise" tag-value="1">Traverser un deuil</div>
</div>
