<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>1nuage2mots ~ Demo page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="1nuage2mots.css"/>
    <style>
        :root{
            --brown: #46321E;
            --hover-color: #1EC864; /* rgb(226, 25, 45);*/
        }
        .brown {color:var(--brown);}/*#860;}*/
        .gris {color:#666;}/*#666;}*/
        .teal {color:#00A06E;}/*#068;}*/
        .turquoise {color:#0B7285;}/*#648;}*/
        .vert {color:#1EC864;}

        html, body {
            font-family: Lato, sans-serif;
            margin: 0;
            padding: 0;
        }
        h1{ text-align: center;}
        .emRef{
          font-size: 1px;
        }
        @media (orientation: portrait) {
          .emRef{
            font-size: .3px;
          }
        }
    </style>
</head>
<body>

<%- include('examples.ejs'); %>

<script src="1nuage2mots.js"></script>
<%- include('sourceRibbon.ejs'); %>
</body>
</html>
